<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>

{{ partial "head/head" . }}

<body class='{{ partial "header/bodyClasses" . }}'>
  <div class='site'>

    <a class='screen-reader' href='#main'>{{ i18n "skipToContent" }}</a>

    <header id='header' class='header-container'>
      <div class='header site-header'>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112537769-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-112537769-1');
        </script>

        {{ partial "nav/menus/main" . }}
        <div class='header-info'>
          {{ if eq .Kind "home" }}
          <h1 class='site-title title'>{{ .Site.Title }}</h1>
          {{ else }}
          <p class='site-title title'>{{ .Site.Title }}</p>
          {{ end }}
          <p class='site-description subtitle'>{{ .Site.Params.info.description }}</p>
        </div>
      </div>
    </header>
